<section class="section container-fluid scrollable scrollable-content">
  <div>
		<div class="padding-top">
			<div class="row section-title text-center">
				<div class="col-sm-8 col-sm-offset-2">
					<h1><span>About</span></h1>
				</div>
			</div>
      <div class="row text-center animated bounceInUp">
        <div class="col-sm-6 col-md-3">
          <p>
            This work has the intention to show in a simple and didactic way the building sustainability index in real time in order to raise awareness among users of <strong>the importance of
            sustainable actions</strong> and reinforce <strong>the need for planning and actions aimed at reducing waste and optimizing resources</strong>.
          </p>
        </div>
        <div class="col-sm-6 col-md-3">
          <h2>Colors Meaning</h2>
          <p>
            The tree will be maximum shade of green when the estimated sustainability index is equal to the ideal sustainability. With the distance from the optimal index the tree becomes less green.
          </p>
          <p>
            Below the colors and their sustainability comparisons
          </p>
          <ul class="list-unstyled" style="display: inline-block">
            <li class="text-left"><i class="fa fa-tree" style="color: #808080"></i>: Very Low</li>
            <li class="text-left"><i class="fa fa-tree" style="color: #996666"></i>: Low</li>
            <li class="text-left"><i class="fa fa-tree" style="color: #BFFF00"></i>: Medium</li>
            <li class="text-left"><i class="fa fa-tree" style="color: #00FF00"></i>: High</li>
            <li class="text-left"><i class="fa fa-tree" style="color: #00FFFF"></i>: Very High</li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <h2>Details and Specifications</h2>
          <img src="../images/model.jpg" class="img-responsive"/>
        </div>
      </div>
    </div>
  </div>
</section>
<div ui-content-for="modals">
  <modal-sem-conexao data-mensagem="Para o funcionamento completo do aplicativo conecte-se à internet."></modal-sem-conexao>
</div>
