<div class="modal" ui-if='modalSemConexao' ui-state='modalSemConexao'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
                ui-turn-off="modalSemConexao"><i class="fa fa-times"></i></button>
        <h4 class="modal-title"><i class="fa fa-wifi"></i> Sem conexão</h4>
      </div>
      <div class="modal-body">
        <div class="scrollable-content">
          <div>
            <p>{{mensagem}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
