<div class="scrollable-sidebar">
  <h1 class="scrollable-header app-name">sTree</i></h1>
  <div class="scrollable-content">
      <div class="list-group" ui-turn-off='uiSidebarLeft'>
        <a class="list-group-item" href="#/">Real Time <i class="fa fa-pagelines pull-right"></i></a>
        <a class="list-group-item" href="#/about">About <i class="fa fa-pagelines pull-right"></i></a>
      </div>
      <div class="well copyright text-center bottom-aligned-text">
          <p class="text-grey">© 2016 | Desenvolvido por <a ng-click="utils.openDeviceBrowser('https://www.linkedin.com/in/thisenrose')"><strong>Thiago Senhorinha Rose</strong></a> and <a ng-click="utils.openDeviceBrowser('https://www.linkedin.com/in/italoalberto1')"><strong>Ítalo Alberto</strong></a>.</p>
      </div>
  </div>
</div>
