@import "mobile-angular-ui/src/less/mobile-angular-ui.less";
@import "animate.less";
@import "utils.less";
@import "tree.less";
@import "little_tree.less";

@base: #467B2A;

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


p, input, a {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #323232;
  background-color: #fff;
}

a {
    text-decoration: none;
    color: @base;
}

textarea {
  -webkit-user-select: text;
  border: 1px solid #405D9B !important;
  resize: vertical;
}

.app-name {
  &:extend(.app-name);
  background-color: @base;
  text-align: center;
}

.navbar-app {
  &:extend(.navbar-app);
  color: #fff;
  background: @base;
  padding-top: 5px;
}

.navbar-app .btn, .navbar-app .btn-navbar {
  background: 0 0;
  border: none;
  line-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  text-transform: uppercase;
}

.list-group-item {
  &:extend(.list-group-item);
  text-align: left;
  padding: 20px 25px;
  background: rgba(255, 255, 255, .8);
}

.scrollable-sidebar {
  &:extend(.scrollable);
  background: url(../images/bg-sidebar.jpg)  no-repeat center center fixed;
  display:block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.list-group-item.active, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: lighten(@base, 5%);
    border-color: lighten(@base, 10%);
}


.select-style {
  width: 100%;
  border: 1px solid @base;
  border-radius: 6px;
  overflow: hidden;
  text-align: left;
  background: #ffffff url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 95% 50%;
  display: inline-block;
  vertical-align:middle;
  select, a {
    width: 95%;
    height: 46px;
    padding: 5px 5px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
  }
}


.select-style select:focus {
    outline: none;
}

.div-header {
  padding-bottom: 9px;
  margin: 10px 0 20px;
  border-bottom: 1px solid #eee;
}

div .loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  background-color: rgba(52, 152, 219, 0.30);
}

.middle-loading {
  position: fixed;
  top: 50%;
  left: 50%;
}

p .loading {
  color: #007AFF;
  margin-top: 5px;
  font-family: sans-serif;
  letter-spacing: 3px;
  font-size: 20px;
}

.ng-dirty input.ng-invalid, input.ng-invalid, textarea.ng-invalid {
    border: 0px;
}

.section-title {
	padding-bottom:20px;
}

.section-title h1 {
	position:relative;
	font-size: 36px;
	margin-bottom: 24px;
	padding-bottom: 22px;
	text-transform: capitalize;
	color:#323232;
}

.section-title h1 span {
	font-weight: 300;
}

.section-title h1:before,
.section-title h1:after {
	content: "";
	position: absolute;
	left:50%;
}

.section-title h1:before {
	background-color: #e2e2e2;
	bottom:0;
	height: 1px;
	margin-left:-51px;
	width:102px;
}

.section-title h1:after {
	width: 5px;
	height: 5px;
	bottom: -2px;
	border-radius: 50%;
}

.form-content {
    margin-top: 20px;
    i {
        color: @base;
    }
    h2 {
        font-size: 18px;
        font-weight: 500;
        margin: 24px 0 10px;
    }
}



.overlay {
    background-color: rgba(255,255,255,0.4);
}

h2 {
    color: #4e4e4e;
    font-size: 29px;
    margin-top: 20px;
}

p {
    color: #4e4e4e;
}
img {
    width: 100%;
}

.input-group {
  border: 1px solid @base;
  border-radius: 6px;

  .input-group-addon {
    border: 0px;
  }

  .form-control {
    border: 0px;
  }

  input {
    font-size: 14px !important;
  }
}

textarea {
  -webkit-user-select: text;
  border: 1px solid @base !important;
  resize: vertical;
}

.modal-content {
  &:extend(.modal-content);
  margin-top: 15px;
}
