.margin-right-5 {
  margin-right: 5px;
}

.close {
  color: #D22525;
  font-size: 40px;
}

.btn-rosa {
  background-color: #E57B94;
  border-color: #CE6F85;
}

.btn-bege {
  background-color: #FFDC98;
  border-color: #E6C689;
}

.btn-laranja {
  background-color: #FC7420;
  border-color: #E3681D;
}

.btn-cinza {
  background-color: #DDDDDD;
  border-color: #C7C7C7;
}


.btn-custom {
  background-color: #F3C766;
  border-color: #DBB35C;
}

.white-color {
  color: #FFFFFF;
}

.vertical-center {
  text-align: center;
  vertical-align: middle;
}

.padding-top {
	padding-top:30px;
}

.padding-bottom {
	padding-bottom:30px;
}

.npr {
	padding-right: 0;
}


.margin-bottom-7 {
  margin-bottom: 7px;
}

.fa-margin-right {
  margin-right: 5px;
}

.fa-size-lg {
    font-size: 250%;
}

.full-width {
    width: 100%;
}

.fa-filiada {
  color: #FED700;
  width: 17px;
}

.margin-sm-left {
    margin-left: 15px;
}

.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

.text-md {
    font-size: 18px;
}

.m0 {
    margin: 0!important;
}

.mr3 {
  margin-left: 3px;
}

.bg-gray-dark {
    background-color: #3a3f51;
    color: #fff!important;
}

.bt0 {
    border-top-width: 0!important;
}
.panel-pink > .panel-heading {
    color: #8A3D4F;
    background-color: #C77D8E;
    border-color: #C77D7A;
}

.panel-orange > .panel-heading {
    color: #FF5A00;
    background-color: #FF9200;
    border-color: #FF9100;
}

.panel-roxo > .panel-heading {
    color: #393683;
    background-color: #615E9C;
    border-color: #615E8A;
}

.panel-custom > .panel-heading {
    color: #5E341C;
    background-color: #9E8577;
    border-color: #9E8557;
}
